*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: rgb(42, 35, 35);
}

h1,
h2{
    text-align: center;
    color: rgb(90, 200, 200);
    font-size: 60px;
}

.h2{
    font-size: 40px;
}

.container{
    display: grid;
    place-content: center;
    grid-template-rows: 200px 200px 200px;
    grid-auto-flow: column;
    gap: 20px;
}

.item {
    background-color: aqua;
    border: solid 4px red;
    width: 200px;

}